[submodule "hpp-fcl"]
	path = hpp-fcl
	url = https://github.com/zhengxiang94/hpp-fcl.git
[submodule "ocs2_ros2"]
	path = ocs2_ros2
	url = git@github.com:liver121888/ocs2_ros2.git
[submodule "pinocchio"]
	path = pinocchio
	url = https://github.com/zhengxiang94/pinocchio.git
[submodule "ocs2_robotic_assets"]
	path = ocs2_robotic_assets
	url = git@github.com:liver121888/ocs2_robotic_assets.git
[submodule "plane_segmentation_ros2"]
	path = plane_segmentation_ros2
	url = https://github.com/zhengxiang94/plane_segmentation_ros2.git
